@import "bootstrap";

[v-cloak] {
    display: none !important;
}

.navbar {
    z-index: 99;

    .navbar-brand {
        color: #2d4a5d;

        img {
            width: 40px;
        }
    }
}

#loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.4);
    z-index: 1500;
}

.message.read:not(.active) {
    color: $gray-500;
}

#nav-plain-text,
#nav-source {
    white-space: pre;
    font-family: Courier New, Courier, System, fixed-width;
    font-size: 0.85em;
}
#nav-plain-text {
    white-space: pre-wrap;
}

.messageHeaders {
    margin: 15px 0 0;

    th {
        padding-right: 10px;
        font-weight: normal;
        vertical-align: top;
    }

    td {
        vertical-align: top;
    }
}

.list-group-item:first-child {
    border-top: 0;
}

body.blur {
    .privacy {
        filter: blur(3px);
    }
}
