on:
  push:
    branches: [develop]
    paths:
      - 'mcp/**'

name: Build MCP server docker edge images
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log into Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

    - name: Log into GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ github.token }}

    - uses: benjlevesque/short-sha@v3.0
      id: short-sha

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: ./mcp
        file: ./mcp/Dockerfile
        platforms: linux/amd64,linux/arm64
        push: true
        tags: |
          amirhmoradi/mailpit-mcp:edge
          ghcr.io/${{ github.repository }}-mcp:edge
